.container{
    background-color:skyblue;
    overflow: auto;
    text-align: center;
    /* margin-left: 150px;
    margin-right: 150px; */
    color: white;
    font-size: 10px;
}
.navbar {
    /* width: 100%;
    height: 100%; */
    display: flex;
    padding: 10px;
    background-color:skyblue;
    overflow: auto;
    align-items: center;
    justify-content:space-around;
    /* margin-left: 150px;
    margin-right:150px; */
}
.active{
    background-color: rgb(4, 104, 199);
    color: white;
}
.hover{
    background-color:rebeccapurple;
    color: white;
}
.bg{
    background-color: thistle;
    overflow: auto;
    text-align: center;
    /* margin-left: 150px;
    margin-right: 150px; */
    color: white;
    font-size: 20px;
}
.profile{
    /* padding: 0;
    margin: 0; */
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 5%;
    color: white;
}